<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


	<style type="text/css" media="screen">
		.color-red {
			color: red;
		}

		.is-loading {
			background-color: red;
		}
	</style>
</head>
<body>

	<div id="root">
		<input type="text" id="input" v-model="message">

		<p :class="className">The message was {{ message }}</p>

		<ul>
			<li v-for="name in names" v-text="name"></li>
		</ul>

		<input id="input" type="text" v-model="newName" v-on:keyUp="addName()">

		<button @click="addName()" v-bind:title="title">Add Name</button>

		<button :class="{'is-loading' : isLoading}" @click="toggleClass">Click me</button>


		<h2>All Tasks</h2>

		<ul>
			<li v-for="task in tasks" v-text="task.description"></li>
		</ul>

		<h2>Incomplete Task</h2>

		<ul>
			<li v-for="task in incompleteTasks" v-text="task.description"></li>
		</ul>

	<!-- 	<task>wew</task>
		<task>wews</task> -->

		<task-list></task-list>

		<message title="this is the title" body="this is the body"></message>


		<!-- Button trigger modal -->
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
		  Launch demo modal
		</button>

		<modal></modal>

	</div>

	<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

	<script>
		
		new Vue({
			el: '#root',
			data: {
				message: 'Hello World',
				newName: '',
				names: ['Joe', 'Mary', 'Jane', 'Jack'],
				title: 'this is the title',
				className: 'color-red',
				isLoading: false,
				showModal: false,
				tasks: [
					{description: 'Sample task 1', completed: true},
					{description: 'Sample task 2', completed: false},
					{description: 'Sample task 3', completed: true},
					{description: 'Sample task 4', completed: false},
					{description: 'Sample task 5', completed: true},
					{description: 'Sample task 6', completed: false}
				]
			},

			methods: {

				addName() {
					this.names.push(this.newName);

					this.newName = '';
				},

				toggleClass() {

					this.isLoading = true;
				}

			},

			computed: {

				incompleteTasks() {
					return this.tasks.filter(task => ! task.completed)
				}
			}
		})

	</script>


	<script src="./main.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	
</body>
</html>